[Unit]
Description=Storm Cloud API server
After=network.target

[Service]
ExecStart=/usr/local/bin/python3 /opt/storm-cloud/storm-cloud-server.py
WorkingDirectory=/opt/storm-cloud
StandardOutput=syslog
StandardError=syslog
Restart=always
User=root
PIDFile=/tmp/storm-cloud-server.pid

[Install]
WantedBy=multi-user.target